.navbar {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 16px;

    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .settings {
    position: relative;
  
    .dropdown {
      position: absolute;
      top: 40px;
      right: 0;
      background-color:#222b3c ;;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
  
      .dropdown-item {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #384256;
        }
      }
    }
  }
}
